MONGO_URI=mongodb+srv://<user>:<password>@<cluster>/<db>?retryWrites=true&w=majority

# Service ports
LOGS_PORT=3001
USERS_PORT=3002
COSTS_PORT=3003
ABOUT_PORT=3004

# About service developers
DEV1_FIRST=John
DEV1_LAST=Doe
DEV2_FIRST=Jane
DEV2_LAST=Doe
